<section id="administratie-en-handel" class="domein">
    <h2 class="titel">
	Administratie en handel
    </h2>
    {{#each tags}}
	{{#is tag "administratie-en-handel"}}
		{{#each pages}}
			<h3>{{data.title}}</h3>
			<p>{{data.summary}}</p>
			<p><a href="{{data.url}}">Meer over {{data.title}}</a></p>
		{{/each}}
	{{/is}}
    {{/each}}
</section>