<div id="navigation">
    <nav>
        <a href="#welkom">Start</a> | <a href="#se-n-se">Se-n-Se</a> | <a href="#administratie-en-handel">Administratie en handel</a> | <a href="#gezondheid-en-maatschappij">Gezondheid en maatschappij</a> | <a href="#kunst">Kunst</a> | <a href="#techniek-en-wetenschap">Techniek en wetenschap</a>
    </nav>
</div>