
<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="#welkom" id="welkomlink">Start</a></li>
        <li><a href="#se-n-se" id="se-n-selink">Se-n-Se</a></li>
        <li><a href="#administratie-en-handel" id="administratielink">Administratie en handel</a></li>
        <li><a href="#gezondheid-en-maatschappij" id="gezondheidlink">Gezondheid en maatschappij</a></li>
        <li><a href="#kunst" id="kunstlink">Kunst</a></li>
        <li><a href="#techniek-en-wetenschap" id="technieklink">Techniek en wetenschap</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
