<section id="se-n-se" class="domein container-fluid">
	<h2 class="col-md-12">Wat is se-n-se?</h2>
	<article class="opleiding col-xs-12 col-sm-6 col-md-4 col-lg-3">
		<h3>Secundair na secundair?</h3>
		<p>De opleidingen se-n-se of secundair na secundair vervangen de vroegere 7de specialisatiejaren technisch secundair onderwijs (TSO) en kunst&shy;secundair onderwijs (KSO). Deze studies worden ingericht binnen de scholen van het secundair onderwijs.</p>
		<p>Deze opleidingen zijn een vervolg op het gewone secundaire onderwijs. Ze zijn op maat gesneden voor wie 6TSO of KSO heeft afgerond, maar ook mensen met een diploma 7BSO kunnen perfect instappen. Sommige opleidingen veronderstellen een specifieke voorstudie, andere staan open voor iedereen.</p>
		<p>In bepaalde gevallen kan men toegelaten worden zonder diploma of zonder specifieke vooropleiding. Informeer daarvoor bij de scholen die een bepaalde opleiding inrichten.</p>
	</article>
	<article class="opleiding col-xs-12 col-sm-6 col-md-4 col-lg-3">
		<h3>1 jaar?</h3>
		<p>Al deze opleidingen duren één schooljaar of twee semesters. Ze zijn allemaal sterk gericht op de arbeidsmarkt. Je leert op één jaar al de knepen van een vak zonder overtollige ballast.</p>
		<p>Vaak wordt er gewerkt met projecten en praktische toepassingen. In de meeste opleidingen is er veel ruimte voor een individuele aanpak en de ontplooing van de eigen talenten. Er is ook veel aandacht voor stage.</p>
		<p>In geen enkele andere opleidingsvorm wordt je op zo'n korte tijd, zonder in te boeten aan niveau, klaargestoomd voor de beroepspraktijk!</p>
	</article>
	<article class="opleiding col-xs-12 col-sm-6 col-md-4 col-lg-3">
		<h3>Toekomst?</h3>
		<p>Na een se-n-se-jaar ben je klaar om te gaan werken. Als je het certificaat van een se-n-se opleidingen behaalt, betekent dat dat je voldoet aan alle basisvereisten om een specifiek beroep uit te oefenen. </p>
		<p>De stage is er niet enkel om te proeven van de bedrijfspraktijk. Goede stagiairs krijgen regelmatig een contract aangeboden door hun stagebedrijf. Een mogelijkheid die in deze onzekere tijden mooi meegenomen is.</p>
		<p>Beslis je alsnog om verder te studeren binnen het hoger onderwijs, dan kan dat zeker. De ervaring die je binnen je se-n-se-jaar opdeed, betekent vaak een stevige voorsprong aan de hogeschool, waardoor je slaagkansen sterk toenemen.</p>
	</article>
	<article class="opleiding col-xs-12 col-sm-6 col-md-4 col-lg-3">
		<h3>Inschrijven / meer info?</h3>
		<p>Hieronder vind je een overzicht van alle se-n-se's die aangeboden worden binnen de provincie Antwerpen. Voor elke studierichting is er een detailpagina met meer uitleg. Daar zie je ook welke scholen een bepaalde opleiding aanbieden en vind je hun infomomenten en opendeurdagen.</p>
		<p>Sommige scholen / opleidingen voorzien twee instapmomenten: in september en in januari. Andere volgen het "normale" schooljaar dat begint in september en eindigt in juni.</p>
		<p>Voor nog meer informatie of om je in te schrijven verwijzen we je graag door naar de websites van de deelnemende scholen.</p>
	</article>
</section>