<section id="techniek-en-wetenschap" data-speed="12" data-type="background" class="domein container">
    <h2 class="titel">
	TECHNIEK EN WETENSCHAP
    </h2>
    {{#each}}
	{{> opleiding}}
    {{/each}}
</section>