<section id="welkom" class="domein">
	<div class="center">
		<div class="text-block">
			<h1>
				<span class="red">Se</span><span class="orange">.</span><span class="green">n</span><span class="orange super">.</span><span class="blue">Se</span><br>
			</h1>
			<p class="subtitle">1-jarige opleidingen secundair na secundair in de provincie Antwerpen</p>
		</div>
	</div>
</section>