<section id="welkom" class="container-fluid">
	<div id="logo">
		<img src "../public/images/index/logo.png">
	</div>
	<h1 class="text-hide">Se-n-Se <small>Secundair na Secundair: 1-jarige opleidingen in de provincie Antwerpen</small></h1>
</section>