<html>
    <head>
	<meta charset="utf-8">
	<title>{{title}}</title>
    </head>
    <body>
	<header>
	    <div class="hoofding">
		<h1>{{title}}</h1>
	    </div>
	</header>
	<p><em>{{summary}}</em></p>
	{{#markdown}}
	    {{> body }}
	{{/markdown}}
	<footer>
	    
		{{#each scholen}}
		    	{{include this}}
		{{/each}}
	    
	</footer>
    </body>
</html>
