/* For our CSS we follow the patterns explained in [SMACSS](http://smacss.com/) */

/**
 *  1. Base Rules
 */
 body {
    background-color: #B1B2B5;
    color: #FFF;
    font-family:"Helvetica Neue", HelveticaNeue, Helvetica, Tahoma, Geneva, Arial, "Lucida Grande", sans-serif;
}
h2 {
    min-height:40px;
    font-weight:bold;
    font-size:36px;
}
a {
    color: gray;
}
.center {
    display: block;
    margin: 0 auto;
    text-align: center;
}
.text-block {
    display: inline-block;
    width: auto;
}
.super {
    vertical-align: super;
}
.red {
    color: #CE003E;
}
.orange {
    color: #FFA600;
}
.green {
    color: #87C800;
}
.blue {
    color: #00AFC8;
}
.silver {
    color: #B1B2B5;
}
/**
 *  2. Layout Rules
 */
 .container, .container-fluid {
    width: 100% !important;
}
/**
 *  3. Module Rules
 */

/* Logo */
 .logo {
    margin-top: 0.25em;
    vertical-align: bottom;
    text-align: center;
    letter-spacing: -0.072em;
    font-weight: bold;
}
.subtitle {
    color: #B1B2B5;
    text-align: right;
    font-weight: 300;
}
/* navigation bar */
 .navbar {
    position: fixed;
    margin-bottom: 0;
    border-radius: 0;
}
.navbar-default {
    position: fixed;
    z-index: 1000;
    width: 100%;
    background-color: #FFF;
    background-color:rgba(255, 255, 255, 0.7);
    color:#FFF;
    text-align:center;
    font-size:15px;
}
/* domein */
 .domein {
    margin:0;
    padding:2em;
    padding-top: 3em;
    box-shadow: #000 0 0 200px -15px;
}
#welkom {
    background-color: #FFF;
}
#se-n-se {
    background-color: #B1B2B5;
}
#administratie-en-handel {
    background-color: #87C800;
}
#administratie-en-handel a {
    color: #CE003E;
}
#gezondheid-en-maatschappij {
    background-color: #00AFC8;
}
#gezondheid-en-maatschappij a {
    color: #87C800;
}
#kunst {
    background-color: #FFA600;
}
#kunst a {
    color: #999;
}
#techniek-en-wetenschap {
    background-color: #CE003E;
}
#techniek-en-wetenschap a {
    color: #87C800;
}
/* foto */
 .foto {
    position:relative;
    z-index:-50000;
    margin:0 auto;
    padding:300px 0;
    width:100%;
    height:auto;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
#foto-se-n-se {
    background-position: top;
}
/* Footer */
 footer {
    padding: 1em inherit;
    text-align: right;
}
footer a {
    color: #CE003E;
}
/**
 *  4. State Rules
 */
 #welkomlink:hover {
    background-color:rgb(139, 131, 134);
    color:#FFF;
}
#se-n-selink:hover {
    background-color:rgb(255, 231, 76);
    color:#FFF;
}
#technieklink:hover {
    background-color:rgb(204, 0, 51);
    color:#FFF;
}
#gezondheidlink:hover {
    background-color:rgb(0, 153, 204);
    color:#FFF;
}
#administratielink:hover {
    background-color:rgb(153, 204, 0);
    color:#FFF;
}
#kunstlink:hover {
    background-color:rgb(255, 153, 0);
    color:#FFF;
}
/**
 *  5. Media Queries
 */

/* xs */
 @media (max-width: 768px) {
    .opleiding {
        /* 1 column */
        clear: left;
    }
    .logo {
        font-size: 90px;
        line-height: 76px;
    }
    .subtitle {
        margin-top: 12px;
        font-size: 18px;
        line-height: 24px;
    }
    #foto-se-n-se {
        background-image: url('../images/index/se-n-se-xs.jpg');
    }
    #foto-administratie-en-handel {
        background-image: url('../images/index/administratie-xs.jpg');
    }
    #foto-gezondheid-en-maatschappij {
        background-image: url('../images/index/gezondheid-xs.jpg');
    }
    #foto-kunst {
        background-image: url('../images/index/kunst-xs.jpg');
    }
    #foto-techniek-en-wetenschap {
        background-image: url('../images/index/tech-xs.jpg');
    }
}
/* sm */
 @media (min-width: 768px) and (max-width: 992px) {
    .opleiding:nth-child(2n) {
        /* 2 columns */
        clear: left;
    }
    .logo {
        font-size: 220px;
        line-height: 180px;
    }
    .subtitle {
        margin-top: 0;
        font-size: 18px;
        line-height: 24px;
    }
    #foto-se-n-se {
        background-image: url('../images/index/se-n-se-sm.jpg');
    }
    #foto-administratie-en-handel {
        background-image: url('../images/index/administratie-sm.jpg');
    }
    #foto-gezondheid-en-maatschappij {
        background-image: url('../images/index/gezondheid-sm.jpg');
    }
    #foto-kunst {
        background-image: url('../images/index/kunst-sm.jpg');
    }
    #foto-techniek-en-wetenschap {
        background-image: url('../images/index/tech-sm.jpg');
    }
}
/* md */
 @media (min-width: 993px) and (max-width: 1200px) {
    .opleiding:nth-child(3n+2) {
        /* 3 columns */
        clear: left;
    }
    .logo {
        font-size: 300px;
        line-height: 240px;
    }
    .subtitle {
        margin-top: 12px;
        font-size: 24px;
        line-height: 36px;
    }
    #foto-se-n-se {
        background-image: url('../images/index/se-n-se-md.jpg');
    }
    #foto-administratie-en-handel {
        background-image: url('../images/index/administratie-md.jpg');
    }
    #foto-gezondheid-en-maatschappij {
        background-image: url('../images/index/gezondheid-md.jpg');
    }
    #foto-kunst {
        background-image: url('../images/index/kunst-md.jpg');
    }
    #foto-techniek-en-wetenschap {
        background-image: url('../images/index/tech-md.jpg');
    }
}
/* lg */
 @media (min-width: 1201px) {
    .opleiding:nth-child(4n+2) {
        /* 4 columns */
        clear: left;
    }
    .logo {
        font-size: 360px;
        line-height: 280px;
    }
    .subtitle {
        margin-top: 18px;
        font-size: 24px;
        line-height: 36px;
    }
    #foto-se-n-se {
        background-image: url('../images/index/se-n-se-lg.jpg');
    }
    #foto-administratie-en-handel {
        background-image: url('../images/index/administratie-lg.jpg');
    }
    #foto-gezondheid-en-maatschappij {
        background-image: url('../images/index/gezondheid-lg.jpg');
    }
    #foto-kunst {
        background-image: url('../images/index/kunst-lg.jpg');
    }
    #foto-techniek-en-wetenschap {
        background-image: url('../images/index/tech-lg.jpg');
    }
}
