/* For our CSS we follow the patterns explained in [SMACSS](http://smacss.com/) */

/**
 *  1. Base Rules
 */
body {
	font-family: "Helvetica Neue", HelveticaNeue, Helvetica, Tahoma, Geneva, Arial, "Lucida Grande", sans-serif;
}
h1 {
	margin-top:80px;
  margin-bottom:30px;
  width:100%;
  text-align:center;
}
h2 {
	 min-height:40px;
   font-weight:bold;
   font-size:35px;
}
a{
    color: gray;
}

/**
 *  2. Layout Rules
 */
.container {
    width: 100% !important;
}

/**
 *  3. Module Rules
 */
.domein {
	margin:0;
  padding:15px;
  min-height:1000px;
  box-shadow: #000 0 0 200px -15px;
  color:#FFF;
}
#se-n-se {
    background-color:rgb(255, 231, 76);
}
#techniek-en-wetenschap {
    background-color: #CE003E;
}
#gezondheid-en-maatschappij {
    background-color: #00AFC8;
}
#administratie-en-handel {
    background-color: #87C800;
}
#kunst {
    background-color: #FFA600;
}

#welkom {
    padding-top:200px;
    min-height:1000px;
    background:url('../images/index/logo.png')50% 20% no-repeat;

}
#foto-techniek-en-wetenschap {
    position:relative;
    z-index:-50000;
    margin:0 auto;
    padding:300px 0;
    width:100%;
    height:auto;
    background:url('../images/index/tech.jpg')50% 0 fixed;
}
#foto-gezondheid-en-maatschappij {
    position:relative;
    z-index:-50000;
    margin:0 auto;
    padding:300px 0;
    width:100%;
    height:auto;
    background:url('../images/index/gezondheid.jpg')50% 0 fixed;
}
#foto-administratie-en-handel {
    position:relative;
    z-index:-50000;
    margin:0 auto;
    padding:300px 0;
    width:100%;
    height:auto;
    background:url('../images/index/administratie.jpg')50% 0 fixed;
}
#foto-kunst {
    position:relative;
    z-index:-50000;
    margin:0 auto;
    padding:300px 0;
    width:100%;
    height:auto;
    background:url('../images/index/kunst.jpg')50% 0 fixed;
}

/**
 *  4. State Rules
 */
#welkomlink:hover {
    background-color:rgb(139, 131, 134);
    color:#FFF;
}
#se-n-selink:hover {
    background-color:rgb(255, 231, 76);
    color:#FFF;
}
#technieklink:hover {
    background-color:rgb(204, 0, 51);
    color:#FFF;
}
#gezondheidlink:hover {
    background-color:rgb(0, 153, 204);
    color:#FFF;
}
#administratielink:hover {
    background-color:rgb(153, 204, 0);
    color:#FFF;
}
#kunstlink:hover {
    background-color:rgb(255, 153, 0);
    color:#FFF;
}
.navigation {
    position:fixed;
    margin-left:10%;
    padding:10px;
    padding-left: 80px;
    padding-top:20px;
    width:80%;
    height:70px;
    background-color:rgba(255, 255, 255, 0.7);
    color:#FFF;
    text-align:center;
    font-size:15px;
    z-index: 5000;
}

/**
 *  5. Media Queries
 */

/* xs */
@media (max-width: 768px) { 
    .opleiding {
        clear: left;
    }
 }

 /* sm */
 @media (min-width: 768px) and (max-width: 992px) {
    .opleiding:nth-child(2n) {
        clear: left;
    }
 }

 /* md */
 @media (min-width: 993px) and (max-width: 1200px) {
    .opleiding:nth-child(3n+2) {
        clear: left;
    }
 }

 /* lg */
 @media (min-width: 1201px) {
    .opleiding:nth-child(4n+2) {
        clear: left;
    }
 }
