/* For our CSS we follow the patterns explained in [SMACSS](http://smacss.com/) */

/**
 *  1. Base Rules
 */
 body {
    font-family:"Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
h1, h2, h3, h4, h5, h6, strong {
    font-weight: 600;
    /* We prefer a more subtle semi-bold */
}
h2 {
    color:rgb(153, 204, 0);
}
header {
    background-color: rgb(153, 204, 0);
}
.Inleiding {
    font-weight: 600;
    font-style: italic;
}
/**
 *  2. Layout Rules
 */
 header {
    margin-left: auto;
    margin-right: auto;
    text-align: right;
    padding: 1em;
    height: 100px;
}
p {
    margin-left: 0px !important;
    margin-right: 0px !important;
    margin-top: 10px !important;
}
.u-icon {
    width: 184px;
    float: left;
    padding-right: 5px;
}
main {
    padding-bottom: 10px;
}
