---
layout: false
---
<!DOCTYPE html>
<html lang="nl-be">
<head>
    <meta charset="utf-8">
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="public/styles/index.css">
    <title>Se-n-Se: Secundair na Secundair - 1-jarige opleidingen in de provincie Antwerpen</title>
</head>
<body>
    {{> navigation}}
    {{> welkom}}
    <section id="foto-se-n-se" class="foto"></section>
    {{> se-n-se}}
    <section id="foto-administratie-en-handel" class="foto"></section>
    {{> administratie_en_handel}}
    <section id="foto-gezondheid-en-maatschappij" class="foto"></section>
    {{> gezondheid_en_maatschappij}}
    <section id="foto-kunst"  class="foto"></section>
    {{> kunst}}
    <section id="foto-techniek-en-wetenschap" class="foto"></section>
    {{> techniek_en_wetenschap}}
    <footer class="container-fluid">
       <p>Designed by <a href="http://www.commercieelwebverkeer.be">Commercieel webverkeer en netwerkbeheer</a> © 2014<br />
       <a href="mailto:l.derichter@scheppersinstituut.be?subject=feedback over se-n-se.eu">Contacteer Webmaster</a></p>
    </footer>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script>
        /** 
        *  Set min-height for each domein to the viewport-height and reset it on window-resize
        */
        var setDomeinHeight = function(){
            var windowH = $(window).height() + 'px';                           
            $('.domein').each(function(){
                $(this).css({'min-height': windowH});
            })
        }(); // immediately invoke this function
        
        // re-invoke on window resize
        $(window).resize(function(event) {
            setDomeinHeight();
        });

        /**
        *  Autoscroll to correct section when navbar button is clicked
        */
        $('a').click(function() {
            $('html, body').animate({
                scrollTop: $($.attr(this, 'href')).offset().top
            }, 2000);
            return false;
        });
    </script>
</body>
</html>
