---
layout: "layouts/empty.hbs"
---
<!DOCTYPE html>
<html lang="nl-be">
<head>
    <meta charset="utf-8">
    <title>
	Se-n-Se
    </title>
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="css/styles.css">
</head>
<body>
    {{> navigation}}
    {{> welkom}}
    <section id="foto-techniek-en-wetenschap"></section>
    {{> techniek_en_wetenschap}}
    <section id="foto-gezondheid-en-maatschappij"></section>
    {{> gezondheid_en_maatschappij}}
    <section id="foto-administratie-en-handel"></section>
    {{> administratie_en_handel}}
    <section id="foto-kunst"></section>
    {{> kunst}}
    <div id="footer">
	Designed by: Commercieel webverkeer en netwerkbeheer. © 2014
    </div>
    <script src="http://code.jquery.com/jquery-1.8.3.js"></script>
    <script>
    $('a').click(function() {
	$('html, body').animate({
	    scrollTop: $($.attr(this, 'href')).offset().top
	}, 2000);
	return false;
    });
    </script>
</body>
</html>
