<div id="navigation">
    <nav>
        <a href="#welkom" id="welkomlink">Home</a> | <a href="#techniek-en-wetenschap" id="technieklink">Techniek en wetenschap</a> | <a href="#gezondheid-en-maatschappij" id="gezondheidlink">Gezondheid en maatschappij</a> | <a href="#administratie-en-handel" id="administratielink">Administratie en handel</a> | <a href="#kunst" id="kunstlink">Kunst</a>
    </nav>
</div>
<div id="welkom">
    <div id="logo">
        <img src="images/logo.png" alt="Secundair-na-secundair specialisatiejaren in de provincie Antwerpen" />
    </div>
    <div id="slagzin">
        Opleidingen in de provincie Antwerpen
        <br>Secundair-na-Secundair
    </div>
</div>

    

    

    