<p class="h-card">
	<img class="u-icon" src="../../public/images/scholen/babotaniek.jpg" alt="Busleyden Atheneum - Campus Botaniek" /><br />
	<a class="p-name u-url" href="http://www.busleydenatheneum.be/">Busleyden Atheneum - Campus Botaniek</a><br />
	<span class="p-street-address">Augustijnenstraat 92</span><br />
	<span class="p-postal-code">2800</span>
	<span class="p-locality">Mechelen</span>
</p>
