<p class="h-card">
	<img class="u-icon" src="../../public/images/scholen/babotaniek.jpg" alt="Busleyden Atheneum - Campus Botaniek" /><br />
	<a class="p-name u-url" href="http://www.BAbotaniek.be/">Busleyden Atheneum - Campus Botaniek</a><br />
	<span class="p-street-address">Augustijnenstraat 92</span><br />
	<span class="p-postal-code">2800</span>
	<span class="p-locality">Mechelen</span><br />
	<a href="http://www.BAbotaniek.be/" class="u-url">www.BAbotaniek.be</a><br />
	<a href="mailto:info@BAbotaniek.be">info@BAbotaniek.be</a>
</p>
