<p class="h-card">
	<img class="u-icon" src="../../public/images/scholen/donbosco_hoboken.jpg" alt="Don Bosco Technicsh Instituut Hoboken" /><br />
	<a class="p-name u-url" href="http://www.donboscohoboken.be/">Don Bosco Technicsh Instituut Hoboken</a><br />
	<span class="p-street-address">Salesianenlaan 1</span><br />
	<span class="p-postal-code">2660</span><br />
	<span class="p-locality">Hoboken</span>
</p>
