<p class="h-card">
	<img class="u-icon" src="../../public/images/scholen/gesubsidieerd_technisch_instituut_mortsel.jpg" alt="Gesubsidieerd Technisch Instituut Mortsel" />
	<a class="p-name u-url" href="http://www.gtimortsel.be/">Gesubsidieerd Technisch Instituut Mortsel</a><br />
	<span class="p-street-address">Dieseghemlei 60</span><br />
	<span class="p-postal-code">2640</span><br />
	<span class="p-locality">Mortsel</span>
</p>
<p class="h-event">
	<span class="p-name">Infoavond</span><br />
	<span class="dt-start" datetime="2014-03-18 19:00">Dinsdag 18 maart 19:00</span> - <span class="dt-end" datetime="2014-03-18"></span>
</p>
<p class="h-event">
	<span class="p-name">Opendeurdag</span><br />
	<span class="dt-start" datetime="2014-05-18 10:00">Zondag 18 mei 10:00</span> - <span class="dt-end" datetime="2014-05-18 17:00">17:00</span>
</p>
