<p class="h-card">
	<img class="u-icon" src="../../public/images/scholen/gitok_bovenbouw_kalmthout.png" alt="Gitok Kalmthout" />
	<a class="p-name u-url" href="http://www.gitok.be/">Gitok Kalmthout</a><br />
	<span class="p-street-address">Kapellensteenweg 112</span><br />
	<span class="p-postal-code">2920</span>
	<span class="p-locality">Kalmthout</span>
</p>
<p class="h-event">
	<span class="p-name">Opendeurdag</span><br />
	<span class="dt-start" datetime="2014-05-18 10:00">Zondag 18 mei 10:00</span> - <span class="dt-end" datetime="2014-05-18 18:00">18:00</span>
</p>
