<p class="h-card">
	<img class="u-icon" src="../../public/images/scholen/gitok_bovenbouw_kalmthout.png" alt="Gitok Kalmthout" />
	<a class="p-name u-url" href="http://www.gitok.be/">Gitok Kalmthout</a><br />
	<span class="p-street-address">Kapellensteenweg 112</span><br />
	<span class="p-postal-code">2920</span>
	<span class="p-locality">Kalmthout</span><br />
	<a href="http://www.gitok.be/" class="u-url">www.gitok.be</a><br />
	<a href="mailto:gitok2@gitok.be" class="u-email">gitok2@gitok.be</a>
</p>
