<p class="h-card">
	<img class="u-icon" src="../../public/images/scholen/gotak.jpg" alt="GOTAK" />
	<a class="p-name u-url" href="http://www.gotakapellen.be/">GOTAK</a><br />
	<span class="p-street-address">Sint-Catharinastraat 10</span><br />
	<span class="p-postal-code">2940</span>
	<span class="p-locality">Stabroek</span>
</p>
