<p class="h-card">
	<img class="u-icon" src="../../public/images/scholen/gti_mortsel.png" alt="gti Mortsel" />
	<a class="p-name u-url" href="http://gtimortsel.be/">gti Mortsel</a><br />
	<span class="p-street-address">Diesegemlei 60</span><br />
	<span class="p-postal-code">2640</span>
	<span class="p-locality">Mortsel</span><br />
	<a href="http://gtimortsel.be/" class="u-url">gtimortsel.be</a><br />
	<a class="u-email" href="mailto:info@gtimortsel.be">info@gtimortsel.be</a>
</p>
