<p class="h-card">
	<img class="u-icon" src="public/images/heilig_graf_kunst_en_creatie_logo.png" alt="Heilig Graf Kunst en Creatie" /><br />
	<a class="p-name u-url" href="http://www.heilig-graf.be/">Heilig Graf Kunst en Creatie</a><br />
	<span class="p-street-address">Patersstraat 28</span><br />
	<span class="p-postal-code">2300</span><br />
	<span class="p-locality">Turnhout</span>
</p>
<p class="h-event">
	<span class="p-name">Opendeurdag</span><br />
	<span class="dt-start" datetime="2014-05-11 ">Zondag 11 Mei</span>
</p>
