<p class="h-card">
	<img class="u-icon" src="../../public/images/scholen/heilig_graf_instituut_turnhout.jpg" alt="Heilig Graf Mens- en Welzijnswetenschappen" />
	<a class="p-name u-url" href="http://www.heilig-graf.be/">Heilig Graf Mens- en Welzijnswetenschappen</a><br />
	<span class="p-street-address">Klinkstraat 3</span><br />
	<span class="p-postal-code">2300</span>
	<span class="p-locality">Turnhout</span>
</p>
