<p class="h-card">
	<img class="u-icon" src="../../public/images/scholen/heilig_graf_instituut_turnhout.jpg" alt="Heilig Graf Kunst en Creatie" />
	<a class="p-name u-url" href="http://www.heilig-graf.be/">Heilig Graf Kunst en Creatie</a><br />
	<span class="p-street-address">Patersstraat 28</span><br />
	<span class="p-postal-code">2300</span>
	<span class="p-locality">Turnhout</span><br />
	<a href="http://www.heilig-graf.be/" class="u-url">www.heilig-graf.be</a><br />
	<a href="mailto:mode@heilig-graf.be" class="u-email">mode@heilig-graf.be</a>
</p>
