<p class="h-card">
	<img class="u-icon" src="../../public/images/scholen/het_spoor_mol.jpg" alt="Technisch Atheneum Het Spoor Mol" />
	<a class="p-name u-url" href="http://www.campushetspoor.be/">Technisch Atheneum Het Spoor Mol</a><br />
	<span class="p-street-address">Leenhofstraat 33</span><br />
	<span class="p-postal-code">2400</span>
	<span class="p-locality">Mol</span>
</p>
