<p class="h-card">
	<img class="u-icon" src="../../public/images/scholen/hivset_turnhout.jpg" alt="HIVSET Turnhout"/>
	<a class="p-name u-url" href="http://www.hivset.be">HIVSET Turnhout</a><br />
	<span class="p-street-address">Herentalsstraat 70</span><br />
	<span class="p-postal-code">2300</span>
	<span class="p-locality">Turnhout</span>
</p>
