<p class="h-card">
	<img class="u-icon" src="../../public/images/scholen/hivset_turnhout.png" alt="HIVSET Turnhout" />
	<a class="p-name u-url" href="http://www.hivset.be">HIVSET Turnhout</a><br />
	<span class="p-street-address">Herentalsstraat 70</span><br />
	<span class="p-postal-code">2300</span>
	<span class="p-locality">Turnhout</span><br />
	<a href="http://www.hivset.be/" class="u-url">www.hivset.be</a><br />
	<a href="mailto:tabitha.vansoom@hivset.be" class="u-email">tabitha.vansoom@hivset.be</a>
</p>
