<p class="h-card">
	<img class="u-icon" src="../../public/images/scholen/hivset_turnhout.jpg" alt="HIVSET Turnhout"/>
	<a class="p-name u-url" href="http://www.hivset.be">HIVSET Turnhout</a><br />
	<span class="p-street-address">Herentalsstraat 70</span><br />
	<span class="p-postal-code">2300</span>
	<span class="p-locality">Turnhout</span>
</p>
<p class="h-event">
	<span class="p-name">Opendeurdag</span><br />
	<span class="dt-start" datetime="2014-04-27 10:00">Zondag 27 april 10:00</span> - <span class="dt-end" datetime="2014-04-27 16:00">16:00</span>
</p>
<p class="h-event">
	<span class="p-name">Infoavond</span><br />
	<span class="dt-start" datetime="2014-05-20 19:30">Dinsdag 20 mei 19:30</span>
</p>
<p class="h-event">
	<span class="p-name">Infodag</span><br />
	<span class="dt-start" datetime="2014-06-28 10:00">Zaterdag 28 juni 10:00</span> - <span class="dt-end" datetime="2014-06-28 13:00">13:00</span>
</p>
<p class="h-event">
	<span class="p-name">Infodag</span><br />
	<span class="dt-start" datetime="2014-08-23 10:00">Zaterdag 23 augustus 10:00</span> - <span class="dt-end" datetime="2014-08-23 13:00">13:00</span>
</p>



