<p class="h-card">
	<img class="u-icon" src="../../public/images/scholen/instituut_sint-maria_antwerpen.jpg" alt="Instituut Sint Maria" />
	<a class="p-name u-url" href="http://www.instituutsintmaria.be/">Instituut Sint Maria</a><br />
	<span class="p-street-address">Lovelingstraat 8</span><br />
	<span class="p-postal-code">2060</span><br />
	<span class="p-locality">Antwerpen</span>
</p>
<p class="h-event">
	<span class="p-name">Infomoment</span><br />
	<span class="dt-start" datetime="2014-04-24 17:00">Donderdag 24 april 17:00</span> - <span class="dt-end" datetime="2014-04-24 21:00">21:00</span>
</p>
<p class="h-event">
	<span class="p-name">Infomoment</span><br />
	<span class="dt-start" datetime="2014-04-26 11:00">Zaterdag 26 april 11:00</span> - <span class="dt-end" datetime="2014-04-26 16:00">16:00</span>
</p>
