<p class="h-card">
	<img class="u-icon" src="../../public/images/scholen/instituut_maris_stella_sint-agnes.png" alt="Instituut Maris Stella Sint-Agnes"/>
	<a class="p-name u-url" href="http://www.ims-borgerhout.be/">Instituut Maris Stella Sint-Agnes</a><br />
	<span class="p-street-address">Turnhoutsebaan 226-79</span><br />
	<span class="p-postal-code">2140</span>
	<span class="p-locality">Borgerhout</span>
</p>
