<p class="h-card">
	<img class="u-icon" src="../../public/images/scholen/instituut_sint-maria_antwerpen.jpg" alt="Instituut Sint Maria" />
	<a class="p-name u-url" href="http://www.instituutsintmaria.be/">Instituut Sint Maria</a><br />
	<span class="p-street-address">Lovelingstraat 8</span><br />
	<span class="p-postal-code">2060</span>
	<span class="p-locality">Antwerpen</span><br />
	<a href="http://www.instituutsintmaria.be/" class="u-url">www.instituutsintmaria.be</a><br />
	<a href="mailto:sintmaria@ismo.be" class="u-email">sintmaria@ismo.be</a>
</p>
