<p class="h-card">
	<img class="u-icon" src="../../public/images/scholen/kogeka_sint_jozef_geel.png" alt="Sint-Jozef Geel" />
	<a class="p-name u-url" href="http://www.kogeka.be/sintjozef/">Kogeka – Sint-Jozefinstituut</a><br />
	<span class="p-street-address">Technische Schoolstraat 52</span><br />
	<span class="p-postal-code">2440</span>
	<span class="p-locality">Geel</span><br />
	<a href="http://www.kogeka.be/sintjozef/" class="u-url">www.kogeka.be/sintjozef</a><br />
	<a class="u-email" href="mailto:info@tsmmechelen.be">info@tsmmechelen.be</a>
</p>
