<p class="h-card">
	<img class="u-icon" src="public/images/koninklijk_atheneum_antwerpen_logo.png" alt="Koninklijk Atheneum Antwerpen" /><br />
	<a class="p-name u-url" href="http://www.atheneumantwerpen.be/">Koninklijk Atheneum Antwerpen</a><br />
	<span class="p-street-address">Franklin Rooseveltplaats 11</span><br />
	<span class="p-postal-code">2060</span><br />
	<span class="p-locality">Antwerpen</span>
</p>
<p class="h-event">
	<span class="p-name">Opendeurdag</span><br />
	<span class="dt-start" datetime="2014-05-17 14:00">Zaterdag 17 mei 14:00</span> - <span class="dt-end" datetime="2014-05-17 17:00">17:00</span>
</p>