<p class="h-card">
	<img class="u-icon" src="public/images/koninklijk_technisch_atheneum_brasschaat_logo.png" alt="Koninklijk Technisch Atheneum Brasschaat" /><br />
	<a class="p-name u-url" href="http://www.ktabrasschaat.be//">Koninklijk Technisch Atheneum Brasschaat</a><br />
	<span class="p-street-address">Prins Kavellei 98</span><br />
	<span class="p-postal-code">2930</span><br />
	<span class="p-locality">Brasschaat</span>
</p>
<p class="h-event">
	<span class="p-name">Opendeurdag</span><br />
	<span class="dt-start" datetime="2014-05-10">Zaterdag 10 mei</span>
</p>