<p class="h-card">
	<img class="u-icon" src="../../public/images/scholen/kta_kapellen.jpg" alt="KTA Kapellen" />
	<a class="p-name u-url" href="http://www.ktakapellen.be/">KTA Kapellen</a><br />
	<span class="p-street-address">Pastoor Vandenhoudstraat 8</span><br />
	<span class="p-postal-code">2950</span>
	<span class="p-locality">Kapellen</span>
</p>
<p class="h-event">
	<span class="p-name">Infoavond</span><br />
	<span class="dt-start" datetime="2014-03-28 18:30">Vrijdag 28 maart 18:30</span> - <span class="dt-end" datetime="2014-03-28 21:30">21:30</span>
</p>
