<p class="h-card">
	<img class="u-icon" src="../../public/images/scholen/kardinaal_van_roey-instituut_vorselaar.png" alt="Kardinaal van Roey-instituut Vorselaar" />
	<a class="p-name u-url" href="http://www.kvri.be/">Kardinaal van Roey-instituut Vorselaar</a><br />
	<span class="p-street-address">Mgr. Donchelei 7</span><br />
	<span class="p-postal-code">2290</span><br />
	<span class="p-locality">Vorselaar</span>
</p>

