<p class="h-card">
	<img class="u-icon" src="../../public/images/scholen/stedelijk_onderwijs.png" alt="Leonardo Lyceum" />
	<a class="p-name u-url" href="http://www.sito5.be/">Leonardo Lyceum</a><br />
	<span class="p-street-address">VIIE Olympiadelaan 2</span><br />
	<span class="p-postal-code">2020</span>
	<span class="p-locality">Antwerpen</span>
</p>
