<p class="h-card">
	<img class="u-icon" src="../../public/images/scholen/stedelijk_onderwijs.png" alt="Leonardo Lyceum" />
	<a class="p-name u-url" href="http://www.sito5.be/">Leonardo Lyceum</a><br />
	<span class="p-street-address">VIIE Olympiadelaan 2</span><br />
	<span class="p-postal-code">2020</span>
	<span class="p-locality">Antwerpen</span>
</p>
<p class="h-event">
	<span class="p-name">Infonamiddag</span><br />
	<span class="dt-start" datetime="2014-05-10 13:00">Zaterdag 10 Mei 13:00</span> - <span class="dt-end" datetime="2014-05-10 16:30">16:30</span>
</p>