<p class="h-card">
	<img class="u-icon" src="../../public/images/scholen/paramedisch_instituut_mechelen.jpg" alt="Paramedisch Instituut Mechelen"/>
	<a class="p-name u-url" href="http://www.paramedin.be/">Paramedisch Instituut Mechelen</a><br />
	<span class="p-street-address">Augustijnenstraat 92</span><br />
	<span class="p-postal-code">2800</span>
	<span class="p-locality">Mechelen</span>
</p>
