<p class="h-card">
	<img class="u-icon" src="public/images/paramedisch_instituut_mechelen_logo.png" alt="Paramedisch Instituut Mechelen"/>
	<a class="p-name u-url" href="http://www.paramedin.be/">Paramedisch Instituut Mechelen</a><br />
	<span class="p-street-address">Augustijnenstraat 92</span><br />
	<span class="p-postal-code">2800</span><br />
	<span class="p-locality">Mechelen</span>
</p>
<p class="h-event">
	<span class="p-name">Opendeurdagen</span><br />
	<span class="dt-start" datetime="2014-03-22 09:00">zaterdag 22 maart 09:00</span> - <span class="dt-end" datetime="2014-03-22 12:00">12:00</span>
</p>
<p class="h-event">
	<span class="p-name">Opendeurdagen</span><br />
	<span class="dt-start" datetime="2014-06-28 09:00">zaterdag 28 juni 09:00</span> - <span class="dt-end" datetime="2014-06-28 12:00">12:00</span>
</p>
<p class="h-event">
	<span class="p-name">Opendeurdagen</span><br />
	<span class="dt-start" datetime="2014-08-23 09:00">zaterdag 23 augustus 09:00</span> - <span class="dt-end" datetime="2014-08-23 12:00">12:00</span>
</p>

