<p class="h-card">
	<img class="u-icon" src="public/images/pito_stabroek_logo.png" alt="Provinciaal Instituut voor Technisch Onderwijs Stabroek" />
	<a class="p-name u-url" href="http://www.pitostabroek.be/">Provinciaal Instituut voor Technisch Onderwijs Stabroek</a><br />
	<span class="p-street-address">Laageind 19</span><br />
	<span class="p-postal-code">2940</span><br />
	<span class="p-locality">Stabroek</span>
</p>
<p class="h-event">
	<span class="p-name">Opendeurdag</span><br />
	<span class="dt-start" datetime="2014-05-18 10:00">Zondag 18 mei 10:00</span> - <span class="dt-end" datetime="2014-05-18 17:00">17:00</span>
</p>
