<p class="h-card">
	<img class="u-icon" src="../../public/images/scholen/pito_stabroek.png" alt="Provinciaal Instituut voor Technisch Onderwijs Stabroek" />
	<a class="p-name u-url" href="https://www.pitostabroek.be/">Provinciaal Instituut voor Technisch Onderwijs Stabroek</a><br />
	<span class="p-street-address">Laageind 19</span><br />
	<span class="p-postal-code">2940</span>
	<span class="p-locality">Stabroek</span><br />
	<a href="https://www.pitostabroek.be/" class="u-url">www.pitostabroek.be</a><br />
	<a href="mailto:info.pito@provincieantwerpen.be" class="u-email">info.pito@provincieantwerpen.be</a>
</p>
