<p class="h-card">
	<img class="u-icon" src="public/images/provinciaal_instituut_sint-godelieve_antwerpen_logo.png" alt="Provinciaal Instituut Sint-godelieve Antwerpen" />
	<a class="p-name u-url" href="http://www.stgodelieve.be/">Provinciaal Instituut Sint-godelieve Antwerpen</a><br />
	<span class="p-street-address">Brialmontlei 45</span><br />
	<span class="p-postal-code">2018</span><br />
	<span class="p-locality">Antwerpen</span>
</p>
