<p class="h-card">
	<img class="u-icon" src="../../public/images/scholen/pts_boom.png" alt="PTS, Provinciale Scholen Voor Tuinbouw en Techniek, Campus Boom" />
	<a class="p-name u-url" href="http://www.ptsboom.be/">PTS, Provinciale Scholen Voor Tuinbouw en Techniek, Campus Boom</a><br />
	<span class="p-street-address">Beukenlaan 44 Bus 1
2850 Boom</span><br />
	<span class="p-postal-code">2850</span>
	<span class="p-locality">Boom</span>
</p>
<p class="h-event">
	<span class="p-name">Opendeurdag</span><br />
	<span class="dt-start" datetime="2014-04-27">Zondag 27 april</span> - <span class="dt-end" datetime="2014-04-27"></span>
</p>