<p class="h-card">
	<img class="u-icon" src="public/images/scheppers_antwerpen_logo.png" alt="Scheppersistituut Antwerpen" />
	<a class="p-name u-url" href="http://www.scheppers.be">Scheppersinstituut Anwerpen en Deurne</a><br />
	<span class="p-street-address">Van Helmontstraat 29</span><br />
	<span class="p-postal-code">2060</span><br />
	<span class="p-locality">Antwerpen</span>
</p>
<p class="h-event">
	<span class="p-name">Infonamiddag</span><br />
	<span class="dt-start" datetime="2014-06-27 13:00">Vrijdag 27 juni 13:00</span> - <span class="dt-end" datetime="2014-06-27 16:00">16:00</span>
</p>