<p class="h-card">
	<img class="u-icon" src="../../public/images/scholen/scheppersinstituut_antwerpen.png" alt="Scheppersistituut Antwerpen" />
	<a class="p-name u-url" href="http://www.scheppers.be">Scheppersinstituut Anwerpen en Deurne</a><br />
	<span class="p-street-address">Van Helmontstraat 29</span><br />
	<span class="p-postal-code">2060</span>
	<span class="p-locality">Antwerpen</span>
</p>
