<p class="h-card">
	<img class="u-icon" src="../../public/images/scholen/sint-norbertusinstituut_antwerpen.jpg" alt="Sint-Norbertusinstituut Antwerpen" />
	<a class="p-name u-url" href="http://www.sint-norbertus.be/">Sint-Norbertusinstituut Antwerpen</a><br />
	<span class="p-street-address">Amerikalei 47</span><br />
	<span class="p-postal-code">2000</span>
	<span class="p-locality">Antwerpen</span>
</p>
