<p class="h-card">
	<img class="u-icon" src="../../public/images/scholen/sint-norbertus_duffel.jpg" alt="Sint-Norbertusinstituut Duffel" />
	<a class="p-name u-url" href="http://www.sint-norbertus.be/">Sint-Norbertusinstituut Duffel</a><br />
	<span class="p-street-address">Stationsstraat 6</span><br />
	<span class="p-postal-code">2570</span>
	<span class="p-locality">Duffel</span>
</p>
