<p class="h-card">
	<img class="u-icon" src="../../public/images/scholen/sint-norbertusinstituut_antwerpen.png" alt="Sint-Norbertusinstituut Antwerpen" />
	<a class="p-name u-url" href="http://www.sint-norbertus.be/">Sint-Norbertusinstituut Antwerpen</a><br />
	<span class="p-street-address">Amerikalei 47</span><br />
	<span class="p-postal-code">2000</span>
	<span class="p-locality">Antwerpen</span><br />
	<a href="http://www.sint-norbertus.be/" class="u-url">www.sint-norbertus.be</a><br />
	<a href="mailto:secretariaat@sint-norbertus.be" class="u-email">secretariaat@sint-norbertus.be</a>
</p>
