<p class="h-card">
	<img class="u-icon" src="../../public/images/scholen/secundaire_handelsschool_sint-lodewijk_a'pen.png" alt="Secundaire Handelsschool Sint-Lodewijk Antwerpen" />
	<a class="p-name u-url" href="http://www.sintlodewijkantwerpen.be/">Secundaire Handelsschool Sint-Lodewijk Antwerpen</a><br />
	<span class="p-street-address">Lombardenvest 52</span><br />
	<span class="p-postal-code">2000</span>
	<span class="p-locality">Antwerpen</span><br />
	<a href="http://www.sintlodewijkantwerpen.be/" class="u-url">www.sintlodewijkantwerpen.be</a><br />
	<a href="mailto:info@sintlodewijkantwerpen.be" class="u-email">info@sintlodewijkantwerpen.be</a>
</p>
