<p class="h-card">
	<img class="u-icon" src="../../public/images/scholen/sint-lutgardis-mol.png" alt="Sint-Lutgardis Mol" />
	<a class="p-name u-url" href="http://www.sintlutgardismol.be/">Sint-Lutgardis Mol</a><br />
	<span class="p-street-address">Gasthuisstraat 3</span><br />
	<span class="p-postal-code">2400</span>
	<span class="p-locality">Mol</span><br />
	<a href="http://www.sintlutgardismol.be/" class="u-url">www.sintlutgardismol.be</a><br />
	<a href="mailto:info@sintlutgardis.be" class="u-email">info@sintlutgardis.be</a>
</p>
