<p class="h-card">
	<img class="u-icon" src="../../public/images/scholen/sint-ursula-instituut_lier.png" alt="Sint-Ursula-Instituut" />
	<a class="p-name u-url" href="http://sui.campussintursula.be/">Sint-Ursula-Instituut</a><br />
	<span class="p-street-address">Kanunnik Davidlaan 15</span><br />
	<span class="p-postal-code">2500</span>
	<span class="p-locality">Lier</span>
</p>
