<p class="h-card">
	<img class="u-icon" src="../../public/images/scholen/secundaire_handelsschool_sint-lodewijk_a'pen.png" alt="Secundaire Handelsschool Sint-Lodewijk Antwerpen" />
	<a class="p-name u-url" href="http://www.sintlodewijkantwerpen.be/">Secundaire Handelsschool Sint-Lodewijk Antwerpen</a><br />
	<span class="p-street-address">Lombardenvest 52</span><br />
	<span class="p-postal-code">2000</span><br />
	<span class="p-locality">Antwerpen</span>
</p>
<p class="h-event">
	<span class="p-name">Opendeurdag</span><br />
	<span class="dt-start" datetime="2014-05-10 10:00">Zaterdag 10 mei 10:00</span> - <span class="dt-end" datetime="2014-05-10 16:00">16:00</span>
</p>
