<p class="h-card">
	<img class="u-icon" src="../../public/images/scholen/sint-elisabeth-instituut_merksem.jpg" alt="Sint-Elisabeth-Instituut Merksem" />
	<a class="p-name u-url" href="http://www.st-elisabeth-instituut.be/">Sint-Elisabeth-Instituut Merksem</a><br />
	<span class="p-street-address">Stella Marisstraat 2</span><br />
	<span class="p-postal-code">2170</span>
	<span class="p-locality">Merksem</span>
</p>
