<p class="h-card">
	<img class="u-icon" src="../../public/images/scholen/sint-norbertusinstituut_antwerpen.jpg" alt="Sint-Norbertusinstituut Antwerpen" />
	<a class="p-name u-url" href="http://www.sint-norbertus.be/">Sint-Norbertusinstituut Antwerpen</a><br />
	<span class="p-street-address">Amerikalei 47</span><br />
	<span class="p-postal-code">2000</span>
	<span class="p-locality">Antwerpen</span>
</p>
<p class="h-event">
	<span class="p-name">Infosessie</span><br />
	<span class="dt-start" datetime="2014-05-10 10:00">Zaterdag 10 mei 10:00</span> - <span class="dt-end" datetime="2014-05-10 12:00">12:00</span>
</p>
<p class="h-event">
	<span class="p-name">Infosessie</span><br />
	<span class="dt-start" datetime="2014-06-23 18:30">Maandag 23 juni op campus Sint-Jan, Jodenstraat 15 2000 antwerpen  18:30</span> - <span class="dt-end" datetime="2014-06-23 20:00">20:00</span>
</p>
