<p class="h-card">
	<img class="u-icon" src="public/images/so_voor_schoonheidszorgen_logo.png" alt="S.O. voor Schoonheidszorgen Denise Gresiac" />
	<a class="p-name u-url" href="http://www.denisegresiac.be/">S.O. voor Schoonheidszorgen Denise Gresiac</a><br />
	<span class="p-street-address">Koninklijkelaan 9</span><br />
	<span class="p-postal-code">2600</span><br />
	<span class="p-locality">Berchem</span>
</p>
