<p class="h-card">
	<img class="u-icon" src="../../public/images/scholen/stedelijk_onderwijs.png" alt="Stedelijk Lyceum Linkeroever" />
	<a class="p-name u-url" href="http://www.stedelijkonderwijs.be/stedelijklyceumlinkeroever">Stedelijk Lyceum
		Linkeroever</a><br />
	<span class="p-street-address">Gloriantlaan 60</span><br />
	<span class="p-postal-code">2050</span>
	<span class="p-locality">Antwerpen-Linkeroever</span><br />
	<a href="https://www.stedelijkonderwijs.be/stedelijklyceumlinkeroever" class="u-url">www.stedelijkonderwijs.be/stedelijklyceumlinkeroever</a><br />
	<a href="mailto:linkeroever@stedelijklyceum.be" class="u-email">linkeroever@stedelijklyceum.be</a>
</p>
