<p class="h-card">
	<img class="u-icon" src="public/images/stedelijk_lyceum_meir_logo.png" alt="Stedelijk Lyceum Meir" />
	<a class="p-name u-url" href="http://www.stedelijkonderwijs.be/stedelijklyceummeir">Stedelijk Lyceum Meir</a><br />
	<span class="p-street-address">Eikenstraat 8</span><br />
	<span class="p-postal-code">2000</span><br />
	<span class="p-locality">Antwerpen</span>
</p>
