<p class="h-card">
	<img class="u-icon" src="../../public/images/scholen/stedelijk_onderwijs.png" alt="Stedelijk Lyceum Lamoriniere" />
	<a class="p-name u-url" href="http://www.stedelijkonderwijs.be/stedelijklyceumlamoriniere">Stedelijk Lyceum Lamoriniere</a><br />
	<span class="p-street-address">Lamorinièrestraat 248</span><br />
	<span class="p-postal-code">2018</span><br />
	<span class="p-locality">Antwerpen</span>
</p>
<p class="h-event">
	<span class="p-name">Opendeurdag</span><br />
	<span class="dt-start" datetime="2014-05-10 ">Zaterdag 10 mei </span>
</p>
