<p class="h-card">
	<img class="u-icon" src="../../public/images/scholen/stella_marisinstituut_merksem.jpg" alt="Stella Marisinstituut Merksem" />
	<a class="p-name u-url" href="http://www.stellamarismerksem.be/">Stella Marisinstituut Merksem</a><br />
	<span class="p-street-address">Stella Marisstraat 2</span><br />
	<span class="p-postal-code">2170</span>
	<span class="p-locality">Merksem</span><br />
	<a href="http://www.stellamarismerksem.be/" class="u-url">www.stellamarismerksem.be</a>
</p>
