<p class="h-card">
	<img class="u-icon" src="../../public/images/scholen/stella_marisinstituut_merksem.jpg" alt="Stella Marisinstituut Merksem" />
	<a class="p-name u-url" href="http://www.stellamarismerksem.be/">Stella Marisinstituut Merksem</a><br />
	<span class="p-street-address">Stella Marisstraat 2</span><br />
	<span class="p-postal-code">2170</span>
	<span class="p-locality">Merksem</span>
</p>
<p class="h-event">
	<span class="p-name">Infodag</span><br />
	<span class="dt-start" datetime="2014-04-26 13:00">Zaterdag 26 april 13:00</span> - <span class="dt-end" datetime="2014-04-26 18:00">18:00</span>
</p>
<p class="h-event">
	<span class="p-name">Gastronomie & techniek</span><br />
	<span class="dt-start" datetime="2014-05-23 17:00">Vrijdag 23 mei 17:00</span> - <span class="dt-end" datetime="2014-05-23 21:30">21:30</span>
</p>

