<p class="h-card">
	<img class="u-icon" src="../../public/images/scholen/technische_scholen_mechelen.jpg" alt="Technische Scholen Mechelen" />
	<a class="p-name u-url" href="http://www.tsmmechelen.be//">Technische Scholen Mechelen</a><br />
	<span class="p-street-address">Jef Denynplein 2</span><br />
	<span class="p-postal-code">2800</span>
	<span class="p-locality">Mechelen</span>
</p>
