<p class="h-card">
	<img class="u-icon" src="../../public/images/scholen/technische_scholen_mechelen.jpg" alt="Technische Scholen Mechelen" />
	<a class="p-name u-url" href="http://www.tsmmechelen.be//">Technische Scholen Mechelen</a><br />
	<span class="p-street-address">Nieuwe Begaardenstraat 25</span><br />
	<span class="p-postal-code">2800</span>
	<span class="p-locality">Mechelen</span><br />
	<a href="http://www.tsmmechelen.be" class="u-url">www.tsmmechelen.be</a><br />
	<a class="u-email" href="mailto:info@tsmmechelen.be">info@tsmmechelen.be</a>
</p>
