<p class="h-card">
	<img class="u-icon" src="public/images/technische_scholen_mechelen_logo.png" alt="Technische Scholen Mechelen" /><br />
	<a class="p-name u-url" href="http://www.tsmmechelen.be//">Technische Scholen Mechelen</a><br />
	<span class="p-street-address">Jef Denynplein 2</span><br />
	<span class="p-postal-code">2800</span><br />
	<span class="p-locality">Mechelen</span>
</p>
<p class="h-event">
	<span class="p-name">Infodag</span><br />
	<span class="dt-start" datetime="2014-04-26">Zaterdag 26 april</span>
</p>
<p class="h-event">
	<span class="p-name">Opendeurdag</span><br />
	<span class="dt-start" datetime="2014-05-18 11:00">Zondag 18 mei 11:00</span> - <span class="dt-end" datetime="2014-05-18 17:00">17:00</span>
</p>
