<p class="h-card">
	<img class="u-icon" src="../../public/images/scholen/sint-paulusinstituut_mol.jpg" alt="Technisch Instituut Sint-Paulus" />
	<a class="p-name u-url" href="http://www.tisp.be/">Technisch Instituut Sint-Paulus</a><br />
	<span class="p-street-address">Kruisven 25</span><br />
	<span class="p-postal-code">2400</span>
	<span class="p-locality">Mol</span>
</p>
<p class="h-event">
	<span class="p-name">Opendeurdag</span><br />
	<span class="dt-start" datetime="2014-05-11 10:00">Zondag 11 mei 10:00</span> - <span class="dt-end" datetime="2014-05-11 18:00">18:00</span>
</p>