<p class="h-card">
	<img class="u-icon" src="../../public/images/scholen/vzw_verenigde_scholen_ursulinen_mechelen-hagelstein.jpg" alt="Ursulinen Mechelen Mode" />
	<a class="p-name u-url" href="http://www.ursulinenmechelen.be/">Ursulinen Mechelen Mode</a><br />
	<span class="p-street-address">Hoogstraat 35</span><br />
	<span class="p-postal-code">2800</span>
	<span class="p-locality">Mechelen</span><br />
	<a href="http://www.ursulinenmechelen.be/" class="u-url">www.ursulinenmechelen.be</a><br />
	<a href="mailto:info@ursulinenmechelen.be" class="u-email">info@ursulinenmechelen.be</a>
</p>
