<p class="h-card">
	<img class="u-icon" src="../../public/images/scholen/vzw_verenigde_scholen_ursulinen_mechelen-hagelstein.png" alt="Ursulinen Mechelen Mode" />
	<a class="p-name u-url" href="http://www.ursulinenmechelen.be/">Ursulinen Mechelen Mode</a><br />
	<span class="p-street-address">Wollemarkt 3 (Campus Newton)</span><br />
	<span class="p-postal-code">2800</span>
	<span class="p-locality">Mechelen</span>
</p>
<p class="h-event">
	<span class="p-name">Infodag<span><br />
	<span class="dt-start" datetime="2014-04-26 10:00">Zaterdag 26 April 16:00</span> - <span class="dt-end" datetime="2014-04-26 16:00">16:00</span>
</p>
