<p class="h-card">
	<img class="u-icon" src=="" alt="V.I.T.O. Hoogstraten" /><br />
	<a class="p-name u-url" href="http://www.vito-hoogstraten.be/">Vrij Instituut voor Technisch Onderwijs</a><br />
	<span class="p-street-address">Gravin Elisabethlaan 30</span><br />
	<span class="p-postal-code">2320</span>
	<span class="p-locality">Hoogstraten</span>
</p>
