<p class="h-card">
	<img class="u-icon" src="../../public/images/scholen/vrij_technisch_instituut_turnhout.png" alt="Vrije Technische Scholen van Turnhout" />
	<a class="p-name u-url" href="http://www.vtst.be/">Vrije Technische Scholen van Turnhout</a><br />
	<span class="p-street-address">Zandstraat 101</span><br />
	<span class="p-postal-code">2300</span>
	<span class="p-locality">Turnhout</span>
</p>
<p class="h-event">
	<span class="p-name">Opendeurdag</span><br />
	<span class="dt-start" datetime="2014-05-24 13:30">Zaterdag 24 mei 13:30</span> - <span class="dt-end" datetime="2014-05-24 17:00">17:00</span>
</p>
<p class="h-event">
	<span class="p-name">Opendeurdag</span><br />
	<span class="dt-start" datetime="2014-05-25 13:30">Zondag 25 mei 13:30</span> - <span class="dt-end" datetime="2014-05-25 17:00">17:00</span>
</p>
<p class="h-event">
	<span class="p-name">Infodag</span><br />
	<span class="dt-start" datetime="2014-05-03">Zaterdag 3 mei</span>
</p>



